extends ../_skeleton

block variables
  - pageName = '503'

block page
  include ../sections/_header-classic

  +breadcrumbs

  // 404
  .section-lg.bg-default.text-center
    +bg-decorate
    .container
      .row.justify-content-center
        .col-md-10.col-lg-9
          h6: span.head-text Sorry, we're offline right now to make our site even better. Please, come back later and check what we've been up to.
          h2 Service is temporary unavailable
          .group
            a.button.button-primary.button-ujarak( href='index.html' ) Go to home page
            a.button.button-default.button-ujarak( href='contacts.html' ) Contacts

  include ../sections/_footer-classic
