extends ../_skeleton

block variables
  - pageName = 'About'

block page
  include ../sections/_header-classic

  +breadcrumbs

  include ../sections/_section-about-us-2

  include ../sections/_section-parallax-with-heads

  include ../sections/_section-with-counters

  include ../sections/_section-our-testimonials

  include ../sections/_section-team-members

  include ../sections/_section-call-to-action

  include ../sections/_footer-classic
