extends ../_skeleton

block variables
  - pageName = 'Blog Left Sidebar'

block page
  include ../sections/_header-classic

  +breadcrumbs()

  include ../sections/_section-blog-posts-left

  include ../sections/_footer-classic