extends ../_skeleton

block variables
  - pageName = 'Blog Right Sidebar'

block page
  include ../sections/_header-classic

  +breadcrumbs()

  include ../sections/_section-blog-posts-right

  include ../sections/_footer-classic