extends ../_skeleton

block variables
  - pageName = 'Pricing'

block page
  include ../sections/_header-classic

  +breadcrumbs

  include ../sections/_section-pricing

  hr

  include ../sections/_section-our-faqs

  include ../sections/_section-call-to-action

  include ../sections/_footer-classic