extends ../_skeleton

block variables
  - pageName = 'Services'

block page
  include ../sections/_header-classic

  +breadcrumbs

  include ../sections/_section-about-us-3

  include ../sections/_section-our-services

  include ../sections/_section-tools-and-tips

  include ../sections/_section-call-to-action

  include ../sections/_footer-classic
