+blog-post({
  img: 'blog-post-01-770x397',
  date: '10 Jan',
  title: 'Baby Boomer and Empty Nesters on the Move'
})
+blog-post({
  img: 'blog-post-02-770x397',
  date: '09 Jan',
  comments: '2',
  title: 'Home Entertainment has Evolved Significantly'
})
+blog-post({
  img: 'blog-post-03-770x397',
  date: '02 Jan',
  comments: '2',
  title: 'Making a Choice Between Moving Companies'
})
+blog-post({
  img: 'blog-post-04-770x397',
  date: '02 Jan',
  comments: '5',
  title: 'Why Moling Moving is Famous in your Town'
})
ul.pagination-classic
  li.pagination-classic-item: a.pagination-classic-link-prev.disabled( href='#' ): span.fa-angle-left.fas
  li.pagination-classic-item: a.pagination-classic-link.active( href='#' ): span 01
  li.pagination-classic-item: a.pagination-classic-link( href='#' ): span 02
  li.pagination-classic-item: a.pagination-classic-link( href='#' ): span 03
  li.pagination-classic-item: a.pagination-classic-link( href='#' ): span 05
  li.pagination-classic-item: a.pagination-classic-link-next( href='#' ): span.fa-angle-right.fas