a.header-mail(href='mailto:#')
  span.unit.align-items-center.flex-lg-row-reverse.justify-content-lg-end
    span.unit-right: span.svg-icon-wrapper.svg-icon-wrapper-rounded.svg-icon-wrapper-gray-100: +svg-icon({name: 'message'})(class='icon icon-secondary')
    span.unit-body
      span.heading-5.font-weight-sbold info@moling.com
      span.small.small-md Email address