a.header-phone(href='tel:#')
  span.unit.align-items-center.justify-content-lg-end
    span.unit-left: span.svg-icon-wrapper.svg-icon-wrapper-rounded.svg-icon-wrapper-gray-100: +svg-icon({name: 'phone-call'})(class='icon icon-secondary')
    span.unit-body
      span.heading-5.font-weight-sbold + 777 444 0000
      span.small.small-md Phone line