/** @section Backgrounds */

.context-dark {
  @extend %context-dark;

  .text-primary { color: $primary; }
}

%context-dark {
  // Logo
  .brand {
    .brand-logo-dark { display: none; }

    .brand-logo-light { display: block; }
  }
}

%context-light {
  // Logo
  .brand {
    .brand-logo-dark { display: block; }

    .brand-logo-light { display: none; }
  }
}


// Light Backgrounds
.bg-default { @include bg-behaviour($body-bg); }

.bg-gray-100 { @include bg-behaviour($gray-100); }


// Dark Backgrounds
.bg-gray-700 {
  @extend %context-dark;
  color: $gray-400;
  @include bg-behaviour($gray-700);
}


// Accent Backgrounds
.bg-primary {
  @extend %context-dark;
  & + & { padding-top: 0; }
  background-color: $primary;
}

.bg-secondary {
  @extend %context-dark;
  @include bg-behaviour($secondary);
}

// Background Decoration
.bg-decoration {
  display: none;
  position: absolute;
  z-index: 3;
  top: -6px;
  left: 0;
  right: 0;
}

.bg-decoration-item {
  position: absolute;
  top: 0;
  width: 6px;
  height: 6px;
  display: none;

  $media-points: xs, sm, md, lg;

  @each $media in $media-points {
    @include media-breakpoint-up($media) {
      display: block;
      &:nth-child(1) { left: calc(50% - #{map_get($container-max-widths, $media)} / 2 + #{map_get($container-max-widths, $media)} / 12 * 0); }
      &:nth-child(2) { left: calc(50% - #{map_get($container-max-widths, $media)} / 2 + #{map_get($container-max-widths, $media)} / 12 * 4); }
      &:nth-child(3) { left: calc(50% - #{map_get($container-max-widths, $media)} / 2 + #{map_get($container-max-widths, $media)} / 12 * 8); }
      &:nth-child(4) { left: calc(50% - #{map_get($container-max-widths, $media)} / 2 + #{map_get($container-max-widths, $media)} / 12 * 12 - 9px); }
    }
  }

  @include media-breakpoint-up(xl) {
    &:nth-child(1) { left: calc(50% - #{map_get($container-max-widths, xl)} / 2 + 17px); }
    &:nth-child(2) { left: calc(50% - #{map_get($container-max-widths, xl)} / 2 + #{map_get($container-max-widths, xl)} / 12 * 4); }
    &:nth-child(3) { left: calc(50% - #{map_get($container-max-widths, xl)} / 2 + #{map_get($container-max-widths, xl)} / 12 * 8 - 22px); }
    &:nth-child(4) { left: calc(50% + #{map_get($container-max-widths, xl)} / 2 - 42px); }
  }
}

.swiper-slider-wrapper,
.breadcrumbs-custom {
  position: relative;
  margin-top: -6px;
  .bg-decoration {
    display: block;
    top: 0;
  }

  .bg-decoration-item {
    position: absolute;
    top: 0;
    width: auto;
    height: 6px;
    display: none;
    background-color: $white;

    @include media-breakpoint-up(xs) {
      display: block;
      width: calc(100% / 5 - 6px);
      &:nth-child(1) { left: 0; }
      &:nth-child(2) { left: calc(100% / 5); }
      &:nth-child(3) { left: calc(100% / 5 * 2); }
      &:nth-child(4) { left: calc(100% / 5 * 3); }
      &:nth-child(5) {
        left: calc(100% / 5 * 4);
        width: calc(100% / 5);
      }
    }
  }
}

.section:not(.bg-default) + .bg-default ,
.section:not(.bg-secondary) + .bg-secondary,
.section + .section-third,
.section:not(.bg-default) + .footer-classic {
  position: relative;
  .bg-decoration { display: block; }
}

.section:not(.bg-default) + .bg-default {
  .bg-decoration-item { background-color: $white; }
}

.section:not(.bg-secondary) + .bg-secondary {
  .bg-decoration-item { background-color: $secondary; }
}

.section + .section-third {
  .bg-decoration-item {
    background-color: $primary;

    @include media-breakpoint-up(lg) {
      &:nth-child(1) { background-color: $primary; }
      background-color: $secondary;

      &:nth-child(1) { left: 19.5%; }
      &:nth-child(2) { left: 40%; }
      &:nth-child(3) { left: 59.5%; }
      &:nth-child(4) { left: 79.5%; }
    }
  }
}

.section:not(.bg-default) + .footer-classic {
  .bg-decoration-item { background-color: $gray-700; }
}

// Background Image
.bg-image {
  background-size: cover;
  background-position: center;
}

// Background With Icons
.bg-with-icon {
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }
}

.bg-with-icon-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 58%;
  pointer-events: none;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right bottom;
  }
}

.bg-with-icon-item-1 {
  @extend .bg-with-icon-item;
  right: ( 100% - ( (452 / 1894) * 100 ) );

  > img {
    object-position: right top;
    mix-blend-mode: luminosity;
  }
}

.bg-with-icon-item-2 {
  @extend .bg-with-icon-item;
  right: 69%;

  > img {
    object-position: left top;
  }
}

// Desktop only
html:not(.tablet):not(.mobile) {
  .bg-fixed {
    @include media-breakpoint-up(lg) {
      background-attachment: fixed;
    }
  }
}
