// Section Call To Action
.section.section-md.bg-primary.text-center
  .container
    .row.row-15.align-items-center
      .col-md-7.col-lg-8.text-md-left.wow.fadeInLeftSmall(data-wow-delay='.1s')
        h3: span.head-big Helping Over
          =" "
          span.text-underline.text-underline-lg 250,000
          =" "
          | Movers in the USA
      .col-md-5.col-lg-4.text-md-right.wow.fadeInRightSmall(data-wow-delay='.2s')
        a.button.button-primary.button-ujarak(href='about.html') Discover more