// Section Book Us Now
.section.section-third
  +bg-decorate
  .section-third-left.section-md.bg-primary
    .section-third-left-item.text-center.text-lg-left
      .block-xs
        h6.wow.fadeInUpSmall(data-wow-delay='.1s'): span.head-text book us now
        h2.wow.fadeInUpSmall(data-wow-delay='.1s'): span.head-small Request a Free Quote Today
  .section-third-right.section-md.bg-secondary
    .section-third-right-item
      //RD Mailform
      form.rd-mailform.form-sm( data-form-output='form-output-global', data-form-type='contact', method='post', action='bat/rd-mailform.php' )
        .row.row-10.row-narrow
          .col-sm-6.col-lg-6
            span.form-label-outside Moving Type
            .form-wrap
              select#moving-type.form-input( name='moving-type', data-constraints='@Required', data-placeholder='local')
                option( label='placeholder' )
                option local
                option long-distance
                option full service
                option self-service
                option interstate
                option international
                option small
          .col-sm-6.col-lg-6
            span.form-label-outside Date
            .form-wrap
              label.form-label( for='billing-date' ) mm/dd/yy
              input#billing-date.form-input( type="text" name="date"  data-constraints='@Required' data-time-picker="date" )
          .col-sm-6.col-lg-6
            span.form-label-outside From
            .form-wrap
              label.form-label( for='moving-from' ) city, state
              input#moving-from.form-input( type='text', name='from', data-constraints='@Required' )
          .col-sm-6.col-lg-6
            span.form-label-outside Home Size
            .form-wrap
              label.form-label( for='home-size' ) 0
              input#home-size.form-input( type='text', name='home-size', data-constraints='@Required @Numeric' )
          .col-sm-6.col-lg-6
            span.form-label-outside To
            .form-wrap
              label.form-label( for='moving-to' ) city, state
              input#moving-to.form-input( type='text', name='to', data-constraints='@Required' )
          .col-sm-6.col-lg-6.align-self-end
            button.button.button-primary.button-ujarak.button-custom-offset( type='submit' ) send request