// Section Call To Action
.section.section-md.bg-secondary
  +bg-decorate
  .container
    .row.justify-content-center.justify-content-lg-start
      .col-md-10.col-lg-8.col-xl-7
        .unit.unit-spacing-sm.align-items-center.d-block.d-xs-flex
          .unit-left: +svg-icon({name: 'phone-call'})(class='icon icon-lg icon-primary')
          .unit-body
            h3.font-weight-medium Don’t hesitate, contact us for help and services.
            h2: a(href='tel:#') + 777 444 0000