include ../components/_thumbnails
// Section Gallery Grid
.section.section-lg.bg-default
  +bg-decorate
  .container
    .row.row-30(data-lightgallery="group")
      .col-xs-6.col-md-4
        +thumb-big({
          imgOriginal: 'gallery-original-01',
          img: 'gallery-01-370x453',
          title: 'Personal Furniture Moving'
        })
      .col-xs-6.col-md-4
        +thumb-big({
          imgOriginal: 'gallery-original-02',
          img: 'gallery-02-370x453',
          title: 'Office Furniture Moving'
        })
      .col-xs-6.col-md-4
        +thumb-big({
          imgOriginal: 'gallery-original-03',
          img: 'gallery-03-370x453',
          title: 'Quality packing and transporting'
        })
      .col-xs-6.col-md-4
        +thumb-big({
          imgOriginal: 'gallery-original-04',
          img: 'gallery-04-370x453',
          title: 'Quality packing and transporting'
        })
      .col-xs-6.col-md-4
        +thumb-big({
          imgOriginal: 'gallery-original-05',
          img: 'gallery-05-370x453',
          title: 'Personal Furniture Moving'
        })
      .col-xs-6.col-md-4
        +thumb-big({
          imgOriginal: 'gallery-original-06',
          img: 'gallery-06-370x453',
          title: 'Office Furniture Moving'
        })