include ../components/_blogs

// Section Blog Posts
.section.section-lg.bg-default
  +bg-decorate
  .container
    .row.row-40.justify-content-center
      .col-sm-10.col-md-12.col-lg-8
        include ../components/_blog-main
      .col-sm-10.col-md-12.col-lg-4
        include ../components/_blog-aside