// Section Learn About Us
.section.section-lg.bg-default.image-wrap-modern-section
  +bg-decorate
  .container
    .row.row-30
      .col-md-6
        .block-inset-right-40
          h6: span.head-text Learn about us
          h2 Moving with Moling is Always Easy & Fun.
          +img('about-01-530x467')(class='image-with-shadow wow fadeInLeftSmall' data-wow-delay=".3s")
      .col-md-6
        .block-inset-left-40
          .image-wrap-modern
            +img('about-02-530x467')(class='image-wrap-modern-item image-with-shadow wow fadeInRightSmall' data-wow-delay='.3s')
            .image-wrap-modern-decor.wow.fadeInUpSmall(data-wow-delay='.6s')
          .box-history
            .unit.unit-spacing-xl.d-block.d-lg-flex
              .unit-left
                +img('favicon-01-23x28.png')
                h6: span.head-text Moling since
                h2 2007
              .unit-body
                p Tincidunt elit magnis nulla facilisis sagittis maecenas. Sapien nunced amet dolores sit ipsum velit purus aliq massa fringilla leo orcium dolors sit amet elit.