//Section Google Map
.section
  //Please, add the data attribute data-key='YOUR_API_KEY' in order to insert your own API key for the Google map.
  //Please note that YOUR_API_KEY should replaced with your key.
  //Example: <div class='google-map-container' data-key='YOUR_API_KEY'>
  .google-map-container( data-center='Central Park, New York, US', data-key='AIzaSyBUPsDPtyZG7EPBB2XDN55Rxt_fYUoc4Ak' data-zoom='15', data-icon='images/gmap_marker.png', data-icon-active='images/gmap_marker_active.png', data-styles= mapStyle )
    .google-map
    ul.google-map-markers
      li( data-location='Central Park, New York, US', data-description='Central Park, New York, US' )