// Section Why Chose Moling
.section.section-lg.bg-default.bg-with-icon
  +bg-decorate
  .bg-with-icon-item: +img('bg-icon-01-818x1004.png')
  .container.text-center
    .row.row-30.flex-lg-row-reverse.justify-content-center.text-left
      .col-md-10.col-lg-6
        .block-lg-left-30.block-xl-left-70
          h6: span.head-text Why Chose moling
          h2 We are Leading in Moving Business.
          p Tincidunt elit magnis nulla facilisis sagittis maecenas. Sapien nunced amet ultrices, dolores sit ipsum velit purus aliquet, massa fringilla leo orcium dolors sit amet elit magnis amet ultrices lorem ipsum is simply free text purusrfed aliquet.
          +list-features([
            {title: 'Helping over 250,000 movers in the USA'},
            {title: 'Save  70% off the cost of your moving'},
            {title: 'Book survey at a time that suits you'}
          ])
      .col-md-10.col-lg-6
        .box-question.wow.fadeInLeftSmall(data-wow-delay='.3s')
          .box-question-quote
            h4.box-question-quote-title Moling is Verified and Trusted Moving Company.
            a.link-inline(href='#') Get Started
          .box-question-img: +img('chose-us-01-510x610')
          .box-question-footer
            a.box-question-footer-link(href='contacts.html') Do you have any question?
            a.box-question-footer-icon(href='contacts.html')
              span.fa-angle-right.fas
    h5
      span.head-action Don’t hesitate, contact us for help and services.
        =" "
        a(href='contacts.html') Book Online