// Tools and tips
.section.section-lg.bg-default.text-center
  +bg-decorate
  .container
    h6: span.head-text Tools and tips
    h2 How We Do It
    #tabs-1.tabs-custom.tabs-horizontal
      //Nav tabs
      ul.nav.nav-tabs
        li.nav-item( role='presentation' ): a.nav-link( href='#tabs-1-1', data-toggle='tab' ) Your Moving Planner
        li.nav-item( role='presentation' ): a.nav-link( href='#tabs-1-2', data-toggle='tab' ) Estimate Moving Costs
        li.nav-item( role='presentation' ): a.nav-link( href='#tabs-1-3', data-toggle='tab' ) Moving Checklists

      //Tab panes
      .tab-content
        #tabs-1-1.tab-pane.fade
          .row.row-20.justify-content-center.align-items-center
            .col-lg-5
              +img('services-03-470x359')
            .col-lg-7
              .block-xl-left-25
                p There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                ul.list-marked
                  li: a(href='#') Self-contained, state-of-the-art time clock
                  li: a(href='#') Scalability of up to 500 employees per time clock
                  li: a(href='#') The ability to connect up to 32 time clocks
                  li: a(href='#') Employee self-enrollment
                  li: a(href='#') Built-in backup camera to verify failed punches

        #tabs-1-2.tab-pane.fade
          .row.row-20.justify-content-center.align-items-center
            .col-lg-5
              +img('services-04-470x359')
            .col-lg-7
              .block-xl-left-25
                p There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                ul.list-marked
                  li: a(href='#') Self-contained, state-of-the-art time clock
                  li: a(href='#') Scalability of up to 500 employees per time clock
                  li: a(href='#') The ability to connect up to 32 time clocks
                  li: a(href='#') Employee self-enrollment
                  li: a(href='#') Built-in backup camera to verify failed punches

        #tabs-1-3.tab-pane.fade
          .row.row-20.justify-content-center.align-items-center
            .col-lg-5
              +img('services-05-470x359')
            .col-lg-7
              .block-xl-left-25
                p There are many variations of passages of lorem ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                ul.list-marked
                  li: a(href='#') Self-contained, state-of-the-art time clock
                  li: a(href='#') Scalability of up to 500 employees per time clock
                  li: a(href='#') The ability to connect up to 32 time clocks
                  li: a(href='#') Employee self-enrollment
                  li: a(href='#') Built-in backup camera to verify failed punches