// Section Moving Is Always Easy
.section.section-lg.bg-default.text-center
  +bg-decorate
  .container
    h6: span.head-text moving is always easy
    h2 Reduce Stress During a Move
    .row.row-30.row-lg.flex-md-row-reverse.text-left.justify-content-center
      .col-xs-10.col-sm-12.col-md-6.col-lg-7.col-xl-8
        .row.row-20.row-lg-50
          .col-sm-6.col-md-12.col-lg-6.wow.fadeInUpSmall(data-wow-delay='.1s')
            +img('about-05-370x273')
          .col-sm-6.col-md-12.col-lg-6.wow.fadeInUpSmall(data-wow-delay='.2s')
            +img('about-06-370x273')
          .col-12
            .unit.unit-spacing-sm.d-block.d-xs-flex.d-md-block.d-lg-flex
              .unit-left: +svg-icon({name: 'boxes'})(class='icon icon-xl icon-primary')
              .unit-body
                p Tincidunt elit magnis nulla facilisis sagittis maecenas. Sapien nunced amet ultrices do lores sit ipsum velit purus aliquet massa frn gilla leo orcium lipsm is free simple text to use eewhere dolors sit amet elit. Tincidunt elit Cmagnis nulla facilisis sagittis maece sapien nunced amet ultrices. Tincidunt elit magnis nulla facilisis.
                a.small-md.link-inline.text-uppercase.text-spacing-200(href='contacts.html') Book online
      .col-xs-10.col-sm-12.col-md-6.col-lg-5.col-xl-4
        .box-info
          +svg-icon({name: 'moving-truck'})(class='icon icon-xxl icon-primary')
          h3.box-info-title We’re Moving International and Local with 100% confidence.
          a.small-md.link-inline.text-uppercase.text-spacing-200(href='about.html') Learn More
        a.button.button-lg.button-secondary.button-block.button-ujarak(href='#') 24 Years Experience