// Section Parallax With Video Popup
+parallax({
  img: 'bg-image-01-1894x745.jpg',
  innerClass: 'section-xl context-dark text-center'
}).section
  .container
    a.video-link-classic-wrapper.wow.fadeInUpSmall(href='https://youtu.be/msG8pwgiyUI' data-lightgallery="item")
      .video-link-classic: span.fa-play.fas
      .video-link-classic-overlay