// Section Welcome To Moling
.section.section-lg.bg-default.bg-with-icon(style='z-index: 3')
  +bg-decorate
  .bg-with-icon-item-2
  .container
    .row.row-30.flex-lg-row-reverse.justify-content-center
      .col-md-9.col-lg-6
        .image-wrap-wide
          .image-wrap-wide-item.image-wrap-wide-item-absolute.wow.fadeInRightSmall(data-wow-delay='.3s')
            .image-wrap-wide-achivka
              span.image-wrap-wide-achivka-title Trusted by
              span.image-wrap-wide-achivka-count 488
            +img('about-04-832x347')
          .image-wrap-wide-item.wow.fadeInRightSmall: +img('about-03-530x347')
      .col-md-9.col-lg-6
        h6: span.head-text Welcome to moling
        h2 Running a Successful Moving Business Since 2007.
        p Tincidunt elit magnis nulla facilisis sagittis maecenas. Sapien nunced amet ultrices, dolores sit ipsum velit purus aliquet, massa fringilla leo orcium dolors sit amet elit magnis amet ultrices lorem ipsum is simply free text purusrfed aliquet.
        a.button.button-primary.button-ujarak(href='contacts.html') Get a free quote