// Section Helping You
.section.section-lg.bg-gray-100
  .container
    .row.row-30.align-items-md-center.justify-content-center
      .col-md-10.col-lg-5.cell-xl-6
        h2: span.head-small Helping You Every Step of the Way.
      .col-md-10.col-lg-7.cell-xl-6.text-center.text-lg-right
        .video-mini
          .unit.unit-spacing-md.align-items-center.d-block.d-xs-flex
            .unit-body
              p.video-mini-title Click on this video to check how we
                br.d-none.d-xl-block
                =" "
                | work with
                =" "
                a.video-mini-link(href='#') Our Clients
            .unit-right.wow.fadeInUpSmall(data-wow-delay='.2s')
              .video-mini-play
                +img('video-bg-01-200x127')
                a.video-mini-play-link(href='https://youtu.be/msG8pwgiyUI' data-lightgallery="item")
                  span.fa-play.fas