// Section What We Are Offering
.section.section-lg.bg-default
  +bg-decorate
  .container
    .row.row-30.row-lg-50
      .col-md-6.wow.fadeInUpSmall(data-wow-delay='.1'): +img('services-01-570x467')
      .col-md-6.wow.fadeInUpSmall(data-wow-delay='.2'): +img('services-02-570x467')
      .col-lg-5.col-xl-4
        h6: span.head-text What we are offering
        h2 The Ultimate House Survey Checklist.
      .col-lg-7.col-xl-8.align-self-lg-center
        .row.row-20
          .col-md-6
            p Tincidunt elit magnis nulla facilisis sagittis maecenas. Sapien nunced amet dolores sit ipsum velit purus aliq massa fringilla leo orcium dolors sit amet elit.
          .col-md-6
            p Tincidunt elit magnis nulla facilisis sagittis maecenas. Sapien nunced amet dolores sit ipsum velit purus aliq massa fringilla leo orcium dolors sit amet elit.
